@model IEnumerable<_350Project.Models.CoachToTypeModel>

@using _350Project.Models;

@{
	ViewBag.Title = "Index";
	string string2 = "[ ";

}

	<div class="row mt-5 justify-content-between">

		<button onclick="location.href='/Dashboard/Index'" type="button" class="btn btn-primary">
			< Back to dashboard
		</button>

	</div>

<div class="container">
	<h3>Please select your interested area</h3>
	<div class="row justify-content-around">
		<div class="col-4 nopad text-center">
			<label class="image-checkbox" id="1">
				<img class="col img-responsive" src="~/Content/Image/bodypump.png" />
				<input type="checkbox" name="image[]" value="" />
				<i class="fa fa-check hidden"></i>
			</label>
		</div>

		<div class="col-4 nopad text-center">
			<label class="image-checkbox" id="2">
				<img class="col img-responsive" src="~/Content/Image/bodyjam.png" />
				<input type="checkbox" name="image[]" value="" />
				<i class="fa fa-check hidden"></i>
			</label>
		</div>

	</div>
	<div class="row justify-content-around">

		<div class="col-4 nopad text-center">
			<label class="image-checkbox" id="3">
				<img class="col img-responsive" src="~/Content/Image/bodycombat.png" />
				<input type="checkbox" name="image[]" value="" />
				<i class="fa fa-check hidden"></i>
			</label>
		</div>

		<div class="col-4 nopad text-center">
			<label class="image-checkbox" id="4">
				<img class="col img-responsive" src="~/Content/Image/hiit.png" />
				<input type="checkbox" name="image[]" value="" />
				<i class="fa fa-check hidden"></i>
			</label>
		</div>

	</div>

	<div class="row justify-content-around">


		<div class="col-4 nopad text-center">
			<label class="image-checkbox" id="5">
				<img class="col img-responsive" src="~/Content/Image/battlerope.png" />
				<input type="checkbox" name="image[]" value="" />
				<i class="fa fa-check hidden"></i>
			</label>
		</div>

		<div class="col-4 nopad text-center">
			<label class="image-checkbox" id="6">
				<img class="col img-responsive" src="~/Content/Image/biking.png" />
				<input type="checkbox" name="image[]" value="" />
				<i class="fa fa-check hidden"></i>
			</label>
		</div>

	</div>

	<div class="row justify-content-around">
		<div class="col-4 nopad text-center">
			<label class="image-checkbox" id="7">
				<img class="col img-responsive" src="~/Content/Image/trx.png" />
				<input type="checkbox" name="image[]" value="" />
				<i class="fa fa-check hidden"></i>
			</label>
		</div>

		<div class="col-4 nopad text-center">
			<label class="image-checkbox" id="8">
				<img class="col img-responsive" src="~/Content/Image/crossfit.png" />
				<input type="checkbox" name="image[]" value="" />
				<i class="fa fa-check hidden"></i>
			</label>
		</div>
	</div>
	<div class="row justify-content-around">

		<div class="col-4 nopad text-center">
			<label class="image-checkbox" id="9">
				<img class="col img-responsive" src="~/Content/Image/yoga.png" />
				<input type="checkbox" name="image[]" value="" />
				<i class="fa fa-check hidden"></i>
			</label>
		</div>

		<div class="col-4 nopad text-center">
			<button onclick="getCoach()" type="button" class="btn btn-primary mt-5">
				Find a Coach
			</button>
		</div>

	</div>

	<div id="images" class="mt-2 col-md-10" height="400px">
		<h5 id="image_string"></h5>
	</div>
</div>



@section styles{
	<style>
		.image-checkbox {
			cursor: pointer;
			box-sizing: border-box;
			border: 8px solid transparent;
			margin-bottom: 0;
			outline: 0;
		}

		.image-checkbox-checked {
			border-color: #4783B0;
		}

		.image-checkbox .fa {
			position: absolute;
			color: #4A79A3;
			padding: 10px;
			top: 0;
			right: 0;
		}
	</style>
}

@section scripts{
	<script>
		$(".image-checkbox").each(function () {
			if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
				$(this).addClass('image-checkbox-checked');
			}
			else {
				$(this).removeClass('image-checkbox-checked');
			}
		});


		$(".image-checkbox").on("click", function (e) {
			$(this).toggleClass('image-checkbox-checked');
			var $checkbox = $(this).find('input[type="checkbox"]');
			$checkbox.prop("checked", !$checkbox.prop("checked"))

			e.preventDefault();
		});




		function getCoach() {

			@foreach (CoachToTypeModel i in @Model)
			{
					string string1 = "{ 'typeid' : '" + i.TypeID.ToString() + "', 'coachname' :'" + i.CoachName.ToString() + "', 'coachemail' :'" + i.CoachEmail.ToString() + "'},";
					string2 += string1;
			}

			var jsonstring = "@string2.Remove(string2.Length - 1) ]";
			var text = jsonstring.replace(/&#39;/g, '"');


			var obj = JSON.parse(text);

			var coaches = new Array();
			var coachemail = new Array();
            var count = new Array();

            for (var v = 0; v < obj.length; v++) {
                if (!coaches.includes(obj[v].coachname)) {
                    coaches.push(obj[v].coachname);
                    coachemail.push(obj[v].coachemail);
                    count.push(0);
                }
			}


			var y = new Array();
			var x = document.getElementsByClassName("image-checkbox-checked");
			for (var i = 0; i < x.length; i++) {
				y.push(parseInt(x[i].id));
            }

            for (var i = 0; i < y.length; i++) {
                for (var j = 0; j < obj.length; j++) {
                    if (y[i] == parseInt(obj[j].typeid)) {
                        count[coaches.indexOf(obj[j].coachname)] += 1;
                    }
                }
            }

            var value = Math.max(...count);
            var index = count.indexOf(value);


            var string = "Found best match: Coach - " + coaches[index] + " is matching " + value + " of your interested areas."



            document.getElementById("image_string").innerHTML = string;

            var emai = document.createElement("a");
            emai.setAttribute("href", "mailto:" + coachemail[index]);
            emai.setAttribute("id","coachemailaddress");
            emai.innerHTML = "Email this coach";
            document.getElementById("image_string").appendChild(emai);
		}
	</script>



}
