
@{
    ViewBag.Title = "Activity";
}

<div class="contact-title bg-secondary text-white p-4" style="font: 50px 'Eusthalia Sans Slant'">Activity</div>

<div class="activity-context" style="background-color: darkorange; padding-top: 30px">
    <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Yoga</h2>
                <p class="lead">Energize, unwind and realign with GoodLife’s Yoga Classes. Built on a foundation of strength and stability, each class utilizes key movements to promote proper body alignment, mobility and core strength, leaving you feeling calm and centered.</p>
                <a href="/Home/Activity" class="btn btn-primary">Drop in</a>
            </div>
            <div class="col-md-5"> <img class="featurette-image img-fluid mx-auto" src="~/Content/Image/yoga.jpeg" alt="Generic placeholder image"> </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Kids fitness</h2>
                <p class="lead">Kids this age need physical activity to build strength, coordination, and confidence — and to lay the groundwork for a healthy lifestyle. They're also gaining more control over how active they are.</p>
                <a href="/Home/Activity" class="btn btn-primary">Drop in</a>
            </div>
            <div class="col-md-5 order-md-1"> <img class="featurette-image img-fluid mx-auto" src="~/Content/Image/child.jpg" alt="Generic placeholder image"> </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Family Fitness Classes</h2>
                <p class="lead">Family Fitness offers a fun fitness programme for parents and guardians and their older children or teens. This class is a great way to spend time together as a family. It also encourages the younger participants to develop lifelong fitness habits.</p>
                <a href="/Home/Activity" class="btn btn-primary">Drop in</a>
            </div>
            <div class="col-md-5"> <img class="featurette-image img-fluid mx-auto" src="~/Content/Image/old.jpg" alt="Generic placeholder image"> </div>
        </div>
        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>
</div>


