
@{
    ViewBag.Title = "ChatRoom";
}

<h2>ChatRoom</h2>

@section head{
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Chat Room</title>
}

@section styles{
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 20px Helvetica, Arial;
        }

        form {
            background: #FFCCCC;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

            form input {
                border: 0;
                padding: 10px;
                width: 90%;
                margin-right: .5%;
            }

            form button {
                width: 9%;
                background: #FF6666;
                border: none;
                padding: 10px;
                font-size: 20px;
            }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            #messages li {
                padding: 5px 10px;
            }

                #messages li:nth-child(odd) {
                    background: #FFCCCC;
                }
    </style>

}

<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>

@section scripts{
    <script src="~/Scripts/socket.io/lib/socket.js"></script>
    <script>
        var name = prompt("Please enter your nickname:");
        var socket = io()
        //send nickname
        socket.emit("join", name)
        socket.on("join", function (user) {
            addLine(user + " join the room")
        })
        //receive message
        socket.on("message", function (msg) {
            addLine(msg)
        })
        //when click button
        $('form').submit(function () {
            var msg = name + ": " + $("#m").val() //get message from client
            socket.emit("message", msg) //send message to server
            $("#m").val("") //empty the message bar
            return false //prevent the from's submit
        })
        function addLine(msg) {
            $('#messages').append($('<li>').text(msg));
        }
    </script>


}