
@{
    ViewBag.Title = "Coach";
}

<div class="contact-title bg-secondary text-white p-4" style="font: 50px 'Eusthalia Sans Slant'">Coach</div>

<div class="activity-context" style="background-color: darkorange; padding-top: 30px">
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Content/Image/C1.jpg" alt="Generic placeholder image" width="140" height="140">
                <div class="card-body text-secondary">
                    <h5 class="card-title">Daniel Li</h5>
                    <p class="card-text">Daniel Li is an NASM certified personal trainer, avid runner and power lifter. A graduate of Columbia University, he started Kickoff because he’s obsessed with helping people get in shape and because conventional fitness services are just too expensive, inconvenient, inflexible and ineffective.</p>
                    <a href="/Home/Coach" class="btn btn-primary">Contact with the coach</a>
                </div>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Content/Image/C2.png" alt="Generic placeholder image" width="140" height="140">
                <div class="card-body text-secondary">
                    <h5 class="card-title">Peter</h5>
                    <p class="card-text">Peter is a NASM Certified Personal Trainer, a Crossfit certified coach and group fitness instructor. His passions lie in functional training, weight lifting, and obstacle course race training. He is a competitive crossfit athlete and has been a contestant on Sasuke, which is the Japanese version of Ninja warrior while living in Asia where he spent 12 years.</p>
                    <a href="/Home/Coach" class="btn btn-primary">Contact with the coach</a>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="~/Content/Image/C3.jpg" alt="Generic placeholder image" width="140" height="140">
                <div class="card-body text-secondary">
                    <h5 class="card-title">Leo</h5>
                    <p class="card-text">Leo is an NSCA certified personal trainer with over seven years of experience. With advanced certifications in corrective exercise, nutrition coaching, and behavioral change, Dennis takes an all-encompassing approach to health and fitness. By keeping his clients motivated and engaged through consistent support and challenging workouts, Dennis’ passion lies in helping his clients achieve sustainable results for a healthier lifestyle for the future.</p>
                    <a href="/Home/Coach" class="btn btn-primary">Contact with the coach</a>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>

    </div>
</div>
