@{
    ViewBag.Title = "Contact";
}
<div class="contact-title bg-secondary text-white p-4" style="font: 50px 'Eusthalia Sans Slant'">Contact</div>

<div class="contact-figure">
    <picture>
        <img src="~/Content/Image/S2.jpg" class="img-fluid img-thumbnail" alt="...">
    </picture>
</div>

<div class="contact" style="background-color: chocolate">
    <div class="contact-text" style="font-family: Eusthalia Sans Slant; font-size:25px; color:gray;  background-color: darksalmon; margin:auto; padding: 10px;margin-top: -100px; position: relative">
        <div class="left-contact">
            <ul style="list-style-type: none;">
                <li>Location:</li>
                <li>Phone:</li>
                <li>Email:</li>
            </ul>
        </div>
        <div class="right-contact text-right" style="margin-top: -125px; margin-right:40px">
            <ul style="list-style-type: none">
                <li>107-212 willis cres</li>
                <li>(639)471-1234</li>
                <li>lightweightworkout@hotmail.com</li>
            </ul>
        </div>
    </div>
</div>

<div class="map">
    <picture>
        <img src="~/Content/Image/map.jpg" class="img-fluid img-thumbnail" alt="...">
    </picture>
</div>
