@{
    ViewBag.Title = "Contact";
}
<div class="contact-title bg-secondary text-white p-4" style="font: 50px 'Eusthalia Sans Slant'">Contact</div>

<div class="contact-figure">
    <picture>
        <img src="~/Content/Image/S2.jpg" class="img-fluid img-thumbnail" alt="...">
    </picture>
</div>

<div class="contact" style="background-color: chocolate">
    <div class="contact-text" style="width:75%; margin:auto; padding: 10px;">
        <div class="left-contact">
            <ul style="list-style-type: none;">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <div class="right-contact float-right" style="margin-top: -90px">
            <ul style="list-style-type: none;">
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ul>
        </div>
    </div>
</div>

<div class="map">
    <picture>
        <img src="~/Content/Image/map.jpg" class="img-fluid img-thumbnail" alt="...">
    </picture>
</div>
