
@{
	ViewBag.Title = "Gallary";
}

@section head{
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
}

@Scripts.Render("~/bundles/gallary")
@Styles.Render("~/Content/css1")


<div class="contact-title bg-secondary text-white p-4" style="font: 50px 'Eusthalia Sans Slant'">Gallary</div>

<div class="container">

	<section class="main demo-2">

		<div id="grid" class="grid clearfix">

			<div class="uc-container">
				<div class="uc-initial-content">
					<img src="~/Content/images/thumbs/1.jpg" alt="image01" />
					<span class="icon-eye"></span>
				</div>
				<div class="uc-final-content">
					<img src="~/Content/images/large/1.jpg" alt="image01-large" />
					<div class="title"><h4>The Professor</h4> by Dan Matutina <a href="http://www.htmleaf.com/" class="icon-link"></a></div>
					<span class="icon-cancel"></span>
				</div>
			</div><!-- / uc-container -->

			<div class="uc-container">
				<div class="uc-initial-content">
					<img src="~/Content/images/thumbs/2.jpg" alt="image02" />
					<span class="icon-eye"></span>
				</div>
				<div class="uc-final-content">
					<img src="~/Content/images/large/2.jpg" alt="image02-large" />
					<div class="title"><h4>Planet</h4> by Dan Matutina <a href="http://www.htmleaf.com/" class="icon-link"></a></div>
					<span class="icon-cancel"></span>
				</div>
			</div><!-- / uc-container -->

			<div class="uc-container">
				<div class="uc-initial-content">
					<img src="~/Content/images/thumbs/3.jpg" alt="image03" />
					<span class="icon-eye"></span>
				</div>
				<div class="uc-final-content">
					<img src="~/Content/images/large/3.jpg" alt="image03-large" />
					<div class="title"><h4>Angry Nerd Blofeld</h4> by Dan Matutina <a href="http://www.htmleaf.com/" class="icon-link"></a></div>
					<span class="icon-cancel"></span>
				</div>
			</div><!-- / uc-container -->

			<div class="uc-container">
				<div class="uc-initial-content">
					<img src="~/Content/images/thumbs/4.jpg" alt="image04" />
					<span class="icon-eye"></span>
				</div>
				<div class="uc-final-content">
					<img src="~/Content/images/large/4.jpg" alt="image04-large" />
					<div class="title"><h4>Ero Senin</h4> by Dan Matutina <a href="http://www.htmleaf.com/" class="icon-link"></a></div>
					<span class="icon-cancel"></span>
				</div>
			</div><!-- / uc-container -->

		</div><!-- / grid -->
		<!--				<p class="info"><strong>Demo 2:</strong> Two folding steps with different directions of folding according to the grid position</p>-->
	</section>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

