
@{
    ViewBag.Title = "Review";
}

<div class="contact-title bg-secondary text-white p-4" style="font: 50px 'Eusthalia Sans Slant'">Review</div>
<div class="contact-form" style="background-color: coral; padding: 40px">
    <form class="form bg-light w-75 html-editor-align-center" style="margin: auto; padding: 20px">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Phone">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button type="button" class="btn btn-primary btn-lg" style="margin: 0px auto;display: table;width:100%">Submit</button>
    </form>
</div>