
@{
    ViewBag.Title = "Index";
}

<div class="row mt-12">
    <button onclick="location.href='/Manage/CoachManage'" type="button" class="btn btn-primary">
        Coach Management
    </button>
</div>

<div class="row mt-5">
    <button onclick="location.href='/Manage/EventManage'" type="button" class="btn btn-primary">
        Event Management
    </button>
</div>
